.employee-list {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  min-height: 500px;
}

.employee-list__item {
  padding: 10px;
  cursor: pointer;
}

.employee__footer {
  padding: 10px 0;
}

.employee-list__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.employee-input {
  flex: 1;
  margin-left: 15px;
  padding: 5px;
  border: 1px solid #e5e5e5;
}

.employee-list__buttons__item {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.employee-list__buttons__item:hover {
  background-color: #0056b3;
}
